body {
  background-color: burlywood;
  font-family: 'Source Sans Pro', sans-serif;
}

button {
  background-color: #B02418;
  border: none;
  color: white;
  padding: 10px;
}

h2 {
  color: white;
  font-size: 40px;
  text-align: center;
}

h4,
h6 {
  color: white;
  font-size: 30px;
  margin: 0 10px;
  margin: 25px auto;
  text-align: center;
}

.new-game-btn {
  position: absolute;
  right: 70px;
  top: 20px;
}

.sword {
  position: absolute;
  top: 125px;
  width: 300px;
}
