body {
  background-color: burlywood;
  font-family: 'Source Sans Pro', sans-serif;
}

button {
  background-color: #B02418;
  border: none;
  color: white;
  padding: 10px;
}

h2 {
  color: white;
  font-size: 40px;
  text-align: center;
}

h4,
h6 {
  color: white;
  font-size: 30px;
  margin: 0 10px;
  margin: 25px auto;
  text-align: center;
}

.new-game-btn {
  font-size: 24px;
  padding: 10px;
  position: absolute;
  right: 50px;
  top: 30px;
}

.sword {
  position: absolute;
  top: 180px;
  width: 17vw;
}
