.pb-one {
  background-image: url("../../images/banner1.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size: contain;
}

.pb-two {
  background-image: url("../../images/banner2.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size: contain;
}

.player-box {
  padding-top: 180px;
  width: 80%;
}
.player-name {
  font-weight: 900;
  height: 50px;
  margin: 200px auto 0;
  position: relative;
  width: 130px;
  z-index: 2;
}

.score-box {
  margin: -20px auto 0;
  width: 50px;
}